<div class="container">
  <h1>Simple Tags</h1>
   <div class="tags" style="margin-left:25%">
      <div class="panel">
        <h3>Tags</h3>
        <hr>
        <a href="#"><span class="tag">CSS</span></a>
        <a href="#"><span class="tag">PHP</span></a>
        <a href="#"><span class="tag">AngularJS</span></a>
        <a href="#"><span class="tag">VueJS</span></a>
        <a href="#"><span class="tag">Laravel</span></a>
        <a href="#"><span class="tag">Bootstrap</span></a>
        <a href="#"><span class="tag">Symfony</span></a>
        <a href="#"><span class="tag">SVG</span></a>
      </div>
   </div>
</div>